h1 {
  text-align: center;
  font-family: cursive;
  color: navy;
  font-size: 25px;
}

article,
p {
  color: rebeccapurple;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  width: 1000px;
}
h2 {
  font-size: 22px;
}
.start {
  color: red;
}
.idea {
  color: green;
}
.write {
  color: orange;
}
.foodBlog {
  color: rgb(212, 22, 171);
}

footer {
  text-align: center;
}
